<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--        parallel="tests" -> suite level-->
<!--        parallel="methods" -> test level-->
<suite name="All Test Suite" thread-count="2">
    <test verbose="2" preserve-order="true" thread-count="2" name="Regression" >
        <classes>
            <class name="org.selenium.pom.tests.TestCase">
                <methods>
                    <include name="guestCheckoutUsingDirectBankTransfer"/>
                    <include name="loginAndCheckoutUsingDirectBankTransfer"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>